code,pre {
    font-family: Menlo,Monaco,"Courier New",monospace
}

code {
    padding: .25em .5em;
    font-size: 85%;
    color: #bf616a;
    background-color: #f9f9f9;
    border-radius: 3px
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;
    font-size: .8rem;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f9f9f9
}

blockquote {
    padding: .5rem 1rem;
    margin: .8rem 0;
    color: #7a7a7a;
    border-left: .25rem solid #e5e5e5
}

blockquote p:last-child {
    margin-bottom: 0
}

@media(min-width: 30em) {
    blockquote {
        padding-right:5rem;
        padding-left: 1.25rem
    }
}

table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse
}

td,th {
    padding: .25rem .5rem;
    border: 1px solid #e5e5e5
}

tbody tr:nth-child(odd) td,tbody tr:nth-child(odd) th {
    background-color: #f9f9f9
}

.message {
    margin-bottom: 1rem;
    padding: 1rem;
    color: #717171;
    background-color: #dde9f7;
    border-radius: 10px
}

.message.alert {
    color: #FFFFFF;
    background-color: #B71C1C;
}

abbr {
    font-size: 85%;
    color: #555;
    text-transform: uppercase
}

abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #51c11b
}

dt {
    font-weight: bold
}

dd {
    margin-bottom: .5rem
}
